/* overarching, inherited styles */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  font-family: montserrat, sans-serif;
  box-shadow: 0 0 10px 10px black;
}

/* generic style to mimic Bootstrap -- only use bottom margins */
* {
  margin-top: 0;
  box-sizing: border-box;
}

/* headers only change size */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.jumbotron {
  min-height: 30em;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 3.5em 0;
}
.image-separator, .video-placeholder {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-color: aqua;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

#codeVisualTerminal {
  width: calc(100% - 2em);
  max-width: 25em;
  margin: 0 auto;
  border-radius: 0.25em;
  background-color: darkslategrey;
}
#codeVisualBash {
  height: 2em;
  padding: 0.5em;
  font-size: 1.25em;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 64em;
  padding: 1em;
  margin: 0 auto;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.code {
  font-family: monospace;
}

.text-light {
  color: whitesmoke;
}


.text-blue {
  color: skyblue;
}

.text-green {
  color: greenyellow;
}

#codeVisualBash * {
  float: left;
}

.display-block {
  display: block;
}

.text-secondary {
  color: darkslategray;
}

#codeVisualCursor.blinking {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% { color: inherit; }
  49% { color: inherit; }
  50% { color: transparent; }
  99% { color: transparent; }
  100% { color: inherit; }
}

.card {
  box-shadow: 0 0 1px 0 darkslategrey;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s;
}
.card-header {
  padding: 0;
  background-color: whitesmoke;
}

.project-card {
  flex: 0 0 80%;
  padding: 1em;
}
.project-card .card img {
  max-width: 10em;
  display: block;
  margin: 1em auto;
  background-color: white;
  border-radius: 1em;
}
.project-card .card-body {
  padding: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid lightgray;
}

tr:nth-child(2n) {
  background-color: whitesmoke;
}

th, td {
  padding: 0.5em 1em;
}
tbody > tr {
  border-top: 1px solid lightgray;
}

th {
  text-align: left;
}

#nav-bar {
  padding: 1em;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}
#nav-bar .mobile, #nav-bar .desktop {
  display: flex;
  flex-direction: row;
}
#mobile-title {
  margin-bottom: 0;
  text-align: center;
  flex: 1 0 0;
  margin-right: 1em;
}
#dropdown-button {
  border: none;
  outline: none;
  box-shadow: 0 0 1px 0 black;
  border-radius: 0.125em;
  transition: 0.2s box-shadow;
  background-color: transparent;
  cursor: pointer;
}
#dropdown-button:active, #dropdown-button:hover {
  box-shadow: 0 0 1px 0 lightgrey;
}
#dropdown-nav {
  position: fixed;
  z-index: 2;
  top: 3.5em;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  flex-direction: column;
  display: flex;
  height: 0;
  overflow: hidden;
  transition: 0.2s height;
}
#dropdown-nav.show {
  height: 9em;
}
#dropdown-nav > a {
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}
#nav-bar a {
  color: black;
  text-decoration: none;
  padding: 0.5em;
  margin-bottom: 5px;
}

#main-jumbotron {
  justify-content: center;
}

hr {
  background-color: lightgray;
  margin: 3em 30%;
  height: 1px;
  border: none;
}

a:not(.card) {
  color: dodgerblue;
}
a.card {
  color: black;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

.technology-card {
  margin: 0 0.5em 0.5em 0;
  display: inline-block;
}

.technology-card > .card {
  flex-direction: row;
}
.project-card > .card:hover {
  box-shadow: 0 0 2px 0 black;
}

.technology-card .card-header {
  padding: 0.5em;
}

.technology-card .card-body {
  padding: 0.5em;
}

p, li, div, h1, h2, h3, h4, h5 {
  line-height: 1.5;
}

.video-separator {
  position: static;
  width: 100%;
}

.jumbotron, .image-separator {
  position: relative;
  background-color: white;
  z-index: 1;
}

.video-placeholder {
  background-color: transparent;
  display: none;
}

.mobile-scroll::after {
  height: 0;
  width: 0;
  color: transparent;
  content: 's';
}
.mobile-scroll:not(#technologies) > :first-child {
  margin-left: 10%;
}
.mobile-scroll:not(#technologies) > :last-child {
  margin-right: 10%;
}

.desktop {
  display: none !important;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
  width: 100%;
  position: relative;
  transition: background-size 0.1s;
  text-decoration: none;
}
.project::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  opacity: 0.3;
  transition: opacity 0.1s;
}

.project-info {
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
  position: absolute;
  right: 2em;
  bottom: 2em;
}

.project-logo {
  margin-bottom: 1em;
  width: 5em;
  border-radius: 0.5em;
}


.mini-project {
  width: 100%;
  height: 17em;
}
.mini-project > .project-info {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.mini-project .project-title {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em;
  position: relative;
  z-index: 1;
}

/* project carousel */
#projects {
  padding: 0;
}
#project-lightbox {
  max-width: 100%;
  padding: 0;
}
#project-help {
	line-height: 1;
	background-color: white;
	padding: 0.25em;
	border-radius: 1em;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	opacity: 0.75;
	cursor: pointer;
	box-shadow: 0 0 1px 0 darkslategrey;
	transition: opacity 0.2s;
}
#project-help-text {
	display: none;
	line-height: 1;
}
#project-help.expanded {
	border-radius: 0.25em;
	max-width: calc(100% - 1em);
}
#project-help.expanded > #project-help-text {
	display: inline;
}
#project-help:hover {
	opacity: 1;
}
#project-scroller {
  background-position: 0 0, center center !important;
  background-size: auto, cover !important;

  width: 100%;
  max-width: 100%;
	height: calc(2em + 130px);
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  padding: 1em calc(50% - 65px);

  /* hide scrollbar */
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
#project-scroller::-webkit-scrollbar {
	display: none;
}

#project-scroller.snappy {
  scroll-snap-type: x mandatory; /* Chrome Canary */  
  scroll-snap-type: mandatory; /* Firefox */  
  scroll-snap-points-x: repeat(130px);
  -ms-scroll-snap-type: mandatory; /* IE/Edge */  
  -webkit-scroll-snap-type: mandatory; /* Safari */  
  -webkit-scroll-snap-destination: 0% 50%;  
  -webkit-overflow-scrolling: touch; /* important for iOS */ 
}
#project-scroller::-webkit-scrollbar {
  display: none;
}
.project-icon {
  display: inline-flex !important;
  width: 130px;
  height: 130px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;

  scroll-snap-align: center; /* latest (Chrome 69+) */  
  scroll-snap-coordinate: 0% 50%; /* older (Firefox/IE) */  
  -webkit-scroll-snap-coordinate: 0% 50%; /* older (Safari) */ 
}
.project-icon > img, .project-icon > .image-text {
  width: 64px;
  height: 64px;
  cursor: pointer;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0 darkgrey;
  transition: transform 0.2s, box-shadow 0.2s;
}
.project-icon > .image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  font-weight: bold;
  background: linear-gradient(45deg, orange, green);
}
.project-icon > .image-text.large-text {
  font-size: 20px;
}
.project-icon.centered > img, .project-icon.centered > .image-text {
  transform: scale(1.5, 1.5);
  box-shadow: 0 0 25px 1px grey;
}
#scroll-left, #scroll-right {
  display: none;
}
#project-active-container {
	color: grey;
}
#project-box {
	background-color: white;
	display: flex;
	flex-direction: column;
}
#project-box #project-title {
  margin-bottom: 0;
  display: inline-block;
}
#project-box > #project-active {
  color: lightgrey;
}
#project-box > #project-description {
}
#project-box > #project-links {
}
#project-box a {
  color: inherit !important;
}
#project-box > #project-stack > .stack-card {
  display: inline-block;
  color: black;
  background-color: white;
  box-shadow: 0 0 1px 0 white;
  padding: 5px;
  margin: 0.25em;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* contact section */
#contact {
  min-height: auto;
}
.contact-method.card {
  transition: box-shadow 0.2s;
  display: inline-block;
  margin: 0 1em 1em 0;
}
.contact-method.card:hover {
  box-shadow: 0 0 5px 0 darkslategrey;
}
.contact-method.card > .card-header, .contact-method.card > .card-body {
  padding: 1em;
}
.contact-method.card .secondary {
  color: darkgrey;
  font-size: smaller;
}

/* about timeline */
#about-whoami {
  padding: 0.5em;
  display: inline-block;
  background-color: darkslategrey;
  color: white;
  border-radius: 0.25em;
  position: absolute;
  left: 40%;
  top: 70%;
  transform: skewY(30deg) rotate(-60deg);
  visibility: visible;
  z-index: 2;
}
#about-whoami::before {
  content: '~';
  color: skyblue;
}
#about-portrait {
  width: 18em;
  margin: 0 auto;
  padding-bottom: calc(18em * 1.15470053837925152902);
  transform: rotate(60deg) skewY(-30deg);
  position: relative;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: 2em;
}
#about-portrait-hexagon {
  transform: skewY(30deg) rotate(-60deg);
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: visible;

  background-image: url(./assets/jon-portrait.jpg);
  background-size: cover;
}
#timeline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5em;
  box-shadow: 0 0 1px 0 darkslategrey;
  
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* Chrome Canary */  
  scroll-snap-type: mandatory; /* Firefox */  
  scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-type: mandatory; /* IE/Edge */  
  -webkit-scroll-snap-type: mandatory; /* Safari */  
  -webkit-scroll-snap-destination: 0% 50%;  
  -webkit-overflow-scrolling: touch; /* important for iOS */ 
}
/* this is to create appropriate padding */
#timeline::after {
  content: '';
  display: block;
  flex: 0 0 1px;
  width: 1px;
  height: 1px;
}
.timeline-year {
  flex: 0 0 calc(100%);
  margin: 0.5em;

  scroll-snap-align: center; /* latest (Chrome 69+) */  
  scroll-snap-coordinate: 0% 50%; /* older (Firefox/IE) */  
  -webkit-scroll-snap-coordinate: 0% 50%; /* older (Safari) */ 
}
.timeline-year .timeline-text::after {
  content: 'Swipe left or right to continue reading.';
  display: block;
  color: grey;
  font-size: smaller;
  margin-top: 1em;
}
.timeline-year:first-child .timeline-text::after {
  content: 'Swipe left to continue reading.';
}
.timeline-year:last-child .timeline-text::after {
  content: 'Swipe right to go back.';
}
.timeline-header, .timeline-text {
  display: inline;
}
.timeline-header {
  line-height: 1;
  margin-right: 0.5em;
}
.timeline-image {
  max-width: 100%;
  display: block;
  margin-top: 2em;
}

/* image grid */
/* tips from https://www.codesmite.com/article/how-to-create-pure-css-hexagonal-grids */
#image-grid {
  width: 120%;
  margin: 0 -20%;
  position: relative;
}
.image-hexagon-container {
  width: calc(100% / 3);
  padding-bottom: calc(100% / 3 * 1.15470053837925152902);
  transform: rotate(60deg) skewY(-30deg);
  float: left;
  position: relative;
  overflow: hidden;
  visibility: hidden;
}
.image-hexagon {
  transform: skewY(30deg) rotate(-60deg);
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: visible;
  border: 5px solid white;

  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition: filter 0.2s;

  /* tip from https://stackoverflow.com/a/3461770/2397327 to remove flicker */
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* active and focus for mobile -- not working for mobile */
.image-hexagon:hover, .image-hexagon:active, .image-hexagon:focus {
  filter: grayscale(0);
}
.image-hexagon-container:nth-child(6n+4),
.image-hexagon-container:nth-child(6n+5),
.image-hexagon-container:nth-child(6n+6) {
  margin-top: calc(-100% / 3 * 0.28867513459481288225 + 10px);
  margin-bottom: calc(-100% / 3 * 0.28867513459481288225 + 10px);
  transform: translateX(50%) rotate(60deg) skewY(-30deg);
}
.image-hexagon-container:nth-last-child(1),
.image-hexagon-container:nth-last-child(2),
.image-hexagon-container:nth-last-child(3) {
  margin-bottom: calc(-100% / 3 * 0.28867513459481288225);
}

/* footer */
#footer-jumbotron {
  clear: both;
  min-height: auto;
  padding: 0;
  margin: 0 0 10em 0;
}
#footer-jumbotron > .container > * {
  padding: 1em 0;
}
